<div class="row">
  <div class="col-md-5 mx-auto">
    <form (ngSubmit)="save()" [formGroup]="loginForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Username or Email</label
        >
        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          formControlName="userId"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
      </div>

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login</button
      >&nbsp;&nbsp;
      <a [routerLink]="['registerUser']">Register New User</a>
    </form>
  </div>
</div>
