<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ml-auto">
        <!-- Add ml-auto here -->
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="!userInfo.isAdmin"
            [routerLink]="['Home']"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="!userInfo.isAdmin"
            [routerLink]="['Books']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Books</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="userInfo.isLoggedin && userInfo.isUser"
            routerLinkActive="active"
            [routerLink]="['Books', 'MyBooks']"
            >My Books</a
          >
        </li>

        <li class="nav-item" *ngIf="userInfo.isAdmin">
          <a
            class="nav-link"
            [routerLink]="['Admin', 'Dashboard']"
            routerLinkActive="active"
            >Dashboard</a
          >
        </li>
        <li class="nav-item" *ngIf="userInfo.isAdmin">
          <a
            routerLinkActive="active"
            class="nav-link"
            [routerLink]="['Admin', 'Users']"
            >Users</a
          >
        </li>
        <li class="nav-item" *ngIf="userInfo.isAdmin">
          <a
            routerLinkActive="active"
            class="nav-link"
            [routerLink]="['Admin', 'Books']"
            >Books</a
          >
        </li>
        <li class="nav-item" *ngIf="userInfo.isAdmin">
          <a
            routerLinkActive="active"
            class="nav-link"
            [routerLink]="['Admin', 'Reports']"
            >Reports</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li *ngIf="userInfo.isAdmin">
          <span class="nav-link">Welcome Admin</span>
        </li>
        <li class="nav-item dropdown-center" *ngIf="userInfo.isLoggedin">
          <a
            routerLinkActive="active"
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa-regular fa-user fa-lg"></i>
            {{ curUser?.firstName }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLinkActive="active"
                [routerLink]="['Books', 'User', 'Info']"
                >User Info</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['Books', 'User', 'Address']"
                routerLinkActive="active"
                >Add / Update Address</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['Books', 'User', 'History']"
                routerLinkActive="active"
                >Books History</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['Books', 'User', 'Password']"
                routerLinkActive="active"
                >Change Password</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="userInfo.isLoggedin && userInfo.isUser">
          <a
            class="nav-link"
            [routerLink]="['Books', 'Cart']"
            routerLinkActive="active"
            >Cart</a
          >
        </li>
        <li class="nav-item" *ngIf="!userInfo.isLoggedin">
          <a class="nav-link" [routerLink]="['login']" routerLinkActive="active"
            >Log In</a
          >
        </li>
        <li class="nav-item" *ngIf="userInfo.isLoggedin">
          <a class="nav-link" (click)="logOut()" routerLinkActive="active"
            >Log out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
